body {
  max-width: 700px;
  margin: 0px auto;
  border: 20px solid #01295c;
  font-family: "Righteous", cursive;
  background-image:url(img/background.jpg)
}
div {
  box-sizing: border-box;
}
div p {
  text-decoration: underline;
}
#name p {
  width: 400px;
  margin: 20px auto;
  text-align: center;
  font-size:35px;
  font-weight: 700;
}
#name p:nth-child(1) {
  margin: 10px auto;
  text-align: center;
  width: 200px;
  text-decoration: underline;
  

}
#minime {
    display: block;
    margin:10px auto;
  width: 200px;
  height: 200px;
  border:1px solid lightskyblue;
  border-radius: 30%;
}


/* LISTS*/


li {
  list-style: none;
}
ul {
  padding: 10px;
}
.skills, .xp , .studies, .footer, #name{
    max-width:650px;
    margin:0px auto;
}
.skills span{
    text-align:center;
    display: inline-block;
    position: relative;
    bottom:18px;
    left:80px;
    letter-spacing: 0.2em;
    font-size:20px;
    margin:0px auto;
}
.skills p{
    position: relative;
    bottom:-45px;
    font-size:26px;
    padding-left:15px;
    text-align: center;
    margin:0px auto;
    
    
}
.skills ul{
    position: relative;
    top:15px;
    left:25%;
    max-width:200px;
    color:#E9AC6D;
    
    
}
.xp ul{
    padding-left:180px;
    font-size:20px;
    word-spacing: 5em;
}
.xp li:nth-child(1){
     word-spacing:5.3em;
    }

.xp p{
    margin:0px auto;
    position: relative;
    top:10px;
    font-size: 26px;
    text-align: center;
}
.studies ul{
    font-size:20px;
    text-align: center;
}
.studies p{
    position: relative;
    top:10px;
    font-size:26px;
    text-align: center;
}
/* F OO T E R*/
.favicon > img {
  width: 48px;
  height: 48px;
}
.footer>p{
    width:200px;
    margin:0px auto;
    padding:10px 0px;
    text-align: center;
    
    font-size:26px;
}
#iconwrapper{
    width:270px;
    margin:0px auto;
}



